body {
	font-family: 'Open Sans',sans-serif;
	background-image: linear-gradient(-120deg, #d52923, #2acdff, #2394d5, #d5237c);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	text-align: center;
}
	@keyframes gradient {
	  0% {
		background-position: 0% 50%;
	  }
	  50% {
		background-position: 100% 50%;
	  }
	  100% {
		background-position: 0% 50%;
	  }
	};

#container{
	width: 1000px;
	height: 550px;
	text-align: center;
    margin: 20px auto;	
}
#container h1 {
	font-size: 45px;
	color: #ffffff;
	text-align: center;	}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gradient-border {
	--borderWidth: 10px;
	background: #1D1F20;
	position: relative;
	border-radius: var(--borderWidth);
  }
  .gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background-color: #FFFFFF;
    background-image: linear-gradient(45deg, #44dd1e 0%, #20b2aa 50%, #e2306c 100%);
    border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
  }
  
  
  
  @keyframes animatedgradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
  
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(1){
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	border: solid 2px ;
	color:#b23620;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	font-size: 20px;
	  
  }
  button:nth-child(1):hover {
	  background: #b23620;
	  color:white;
  }
  button:nth-child(2){
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	border: solid 2px ;
	color:#206bb2;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	font-size: 20px;
	  
  }
  button:nth-child(2):hover {
	  background: #206bb2;
	  color:white;
  }
  button:nth-child(3){
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	border: solid 2px ;
	color:#e69d61;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	font-size: 20px;
	  
  }
  button:nth-child(3):hover {
	  background: #e69d61;
	  color:white;
}    
button:nth-child(4){
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: solid 2px ;
  color:#8a56b4;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 20px;
	
}
button:nth-child(4):hover {
    background: #8a56b4;
	color:white;
}
button:nth-child(5),:nth-child(6),:nth-child(7),:nth-child(9),:nth-child(10),:nth-child(11),:nth-child(13),:nth-child(14),
:nth-child(15),:nth-child(18){
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	border: solid 2px ;
	color:#20b2aa;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	font-size: 20px;
	  
  }
  button:nth-child(5):hover,:nth-child(6):hover,:nth-child(7):hover,:nth-child(9):hover,:nth-child(10):hover,
  :nth-child(11):hover,:nth-child(13):hover,:nth-child(14):hover,:nth-child(15):hover,:nth-child(18):hover {
	  background: #20b2aa;
	  color:white;
  }
      
button:nth-child(8){
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: solid 2px ;
  color:#ffa500;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 20px;
	
}
button:nth-child(8):hover {
    background: #ffa500;
	color:white;
}
button:nth-child(12){  
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: solid 2px ;
  color:#f08080;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 20px;
}
button:nth-child(12):hover {
    background: #f08080;
	color:white;
}
button:nth-child(16){
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: solid 2px ;
  color:#7d93e0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 20px;
	
}
button:nth-child(16):hover {
    background: #7d93e0;
	color:white;
}
button:nth-child(20){
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: solid 2px ;
  color:#9477af;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  font-size: 20px;
}
button:nth-child(20):hover {
    background: #9477af;
	color:white;
}
